@import '../../colors';

:host {
  display: block;
}

form {display: flex}

input, button {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  height: 50px;
  appearance: none;
  border: 0;
  border-radius: 0;
  margin: 0;
}

input {
  flex: 1;
  padding: 0 10px;
  background: $white;
  font-family: Raleway, serif;
}

button {
  background: $purple url('/assets/search.icon.svg') no-repeat center center;
  color: $white;
  width: 100px;
  text-indent: -9000px;
}
