:host {display: block}

h1 {
  font-family: monaco, serif;
  font-weight: bold;
  font-size: 60px;
  margin: 0;
  line-height: 1.3em;
}

small {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-style: italic;
}
