<header>
  <app-logotype></app-logotype>
  <div class="container">
    <app-search-input [value]="username" (search)="search($event)"></app-search-input>
  </div>
</header>

<p class="user-not-found--error" *ngIf="isNotFound">
  User not found :(
</p>

<main>
  <aside *ngIf="user">
    <div class="sticky">
      <img [src]="user.avatar_url" />
      <h2>{{user.name}}</h2>
      <h3>{{user.login}}</h3>

      <ul>
        <li title="organization" *ngFor="let organization of user.organizations">
          {{organization.login}}
        </li>
        <li title="location" *ngIf="user.location">{{user.location}}</li>
        <li title="stars">{{user.stars}}</li>
        <li title="repositories">{{user.public_repos}}</li>
        <li title="followers">{{user.followers}}</li>
      </ul>
    </div>
  </aside>

  <div class="container">
    <ul class="repositories">
      <li *ngFor="let repository of user.repositories">
        <h3>{{repository.name}}</h3>
        <p>{{repository.description}}</p>
        <span title="stars">{{repository.stargazers_count}}</span>
      </li>
    </ul>
  </div>
</main>

